{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/uploads/{{ product.image }}" alt="{{ product.name }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <small><i><a href="{{ path('app_product_productcategory', {slug : product.category.slug}) }}"  class="text-black">{{ product.category.name }}</a> > {{ product.name }}</i></small>
                <h1>{{ product.name }}</h1>
                <span class="d-block mb-3"> Prix : {{ product.pricewt|price }}</span>
                <p>{{ product.description | raw }}</p>
                <div class="mt-3">
                    <a href="{{ path('app_cart_add', {id : product.id}) }}" class="btn btn-dark">Ajouter au Panier</a>
                    <a href="{{ path('app_comment_add', {slug : product.slug}) }}" class="btn btn-dark">Ajouter un commentaire</a>
                    {% if app.user %}
                        {% if product in app.user.products %}
                            <a href="{{ path('app_user_removefavorite', {id: product.id}) }}" class="btn btn-dark">Supprimer des favoris</a>
                        {% else %}
                            <a class="btn btn-dark" href="{{ path('app_user_addfavorite', {id : product.id}) }}">Ajouter aux favoris</a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Ajouter aux favoris</a>
                    {% endif %}
                    <div class="collapse" id="collapseExample">
                        <div class="small">
                            Pour ajouter ce produit à vos favoris, <a href="{{ path('app_login') }}">connectez-vous</a> ou <a href="{{ path('app_user_userregister') }}">inscrivez-vous</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h2>Commentaires</h2>
                {% if product.comments is empty %}
                    <p>Aucun commentaire pour le moment.</p>
                {% else %}
                    <ul class="list-group">
                        {% for comment in product.comments %}
                            <li class="list-group-item">
                                <strong>{{ comment.user.firstname }}</strong> : <br/>
                                {{ comment.commentContent }} <br/>
                                Le : {{ comment.createdAt|date('d/m/Y H:i') }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

