
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link " href="{{ path('app_user_password') }}">Modifiez mon mot de passe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_user_addresses') }}">Mes adresses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_user_userfavorite') }}">Mes produits favoris</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_user_comment')}}">Mes commentaires</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_user_order') }}">Mes Commandes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
    </li>
</ul>