{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Récapitulatif de ma commande</h1>

        <div class="row">
            <div class="col-md-8">
                <div class="p-3">
                    <strong>Contenu de mon panier</strong> <br />
                    {% for product in cart %}
                        <div class="row mt-2">
                            <div class="col-md-2">
                                <img src="/uploads/{{ product.object.image }}" class="img-fluid" alt="{{ product.object.name }}">
                            </div>
                            <div class="col-md-6">
                                <strong>{{ product.object.name }}</strong>
                                <span class="d-block small">Prix unitaire : {{ product.object.priceWt|price }}</span>
                            </div>
                            <div class="col-md-2">
                                <span class="badge text-bg-dark">x{{ product.quantity }}</span>
                            </div>
                            <div class="col-md-2">
                                <strong>{{ (product.quantity * product.object.priceWt)|price }}</strong>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="p-3 my-3">
                    <strong>Votre adresse de livraison : </strong><br />
                    {{ choices.addresses.firstname }} {{ choices.addresses.lastname }}<br />
                    {{ choices.addresses.address }}<br />
                    {{ choices.addresses.city }} {{ choices.addresses.country }}<br />
                </div>
            </div>

            <div class="col-md-4">
                <div class="bg-light p-3">
                    <div class="d-flex justify-content-between">
                        <span class="fw-bold">Total produit</span>
                        <span>{{ fullCartQuantity }}</span>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <span class="fw-bold">Prix total T.T.C</span>
                        <span>{{ totalwt|price }}</span>
                    </div>
                    <div>
                        <a href="{{ path('app_order') }}" class="btn btn-success w-100 mt-3">Payer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
